desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$laranja = #F49228
$roxo    = #593258

@import url('https://fonts.googleapis.com/css?family=Asap:400,700|Montserrat:400,700')

asap($size, $weight = normal)
    font-size $size + 0px
    font-family 'Asap', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700

montserrat($size, $weight = normal)
    font-size $size + 0px
    font-family 'Montserrat', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700
