@import "kouto-swiss"

@import "_settings"
@import "_tools"
@import "_generic"
@import "_base"
@import "_objects"

header
    width 100%
    height 360px
    background $img('cabecalho.jpg') no-repeat center
    background-size auto 100%
    font-size 0
    margin-bottom 80px
    transition height .3s
    +tablet()
        height 240px
        margin-bottom 50px
    +mobile()
        margin-bottom 35px
    +below(820px)
        height 220px
    +mobile()
        height 160px
    +below(560px)
        height 110px
    +below(390px)
        height 90px

.informacoes
    > div
        clearfix()
        padding 50px 0 80px
        border-top 2px solid $laranja
        +tablet()
            padding 30px 0 50px
        +mobile()
            padding 30px 0
            &.o-que-e
                .titulo
                    margin-bottom 0
        &:first-child
            border none
            padding-top 0
        .titulo
            width 45%
            float left
            +mobile()
                width 100%
                margin-bottom 20px
            h2
                montserrat 48 bold
                color $roxo
                margin 0
                span
                    display inline-block
                    font-size 3.5em
                    color $laranja
                    margin-top -3.5em
                +tablet()
                    font-size 30px
                +mobile()
                    font-size 24px
            img
                display block
                margin-top 20px
                +tablet()
                    transform scale(.75)
                    transform-origin top left
                +mobile()
                    max-width 50px
                    margin-top 12px
        .texto
            width 55%
            float left
            color $roxo
            +mobile()
                width 100%
            p
                margin 0
                asap 18
                line-height 1.8
                + p
                    margin-top 1em
            h3
                montserrat 24 bold
                color $laranja
                margin 0 0 12px
            h4
                asap 18 bold
                margin 0 0 12px
            +tablet()
                p
                    font-size 16px
                h3
                    font-size 22px
                h4
                    font-size 16px
            +mobile()
                p
                    font-size 14px
                h3
                    font-size 18px
                h4
                    font-size 14px
        &.categorias
            .texto
                p + h3
                    margin-top 2em
        &.avaliacao
            .texto
                p + h4
                    margin-top 2em
        &.cronograma
            .texto
                h3
                    font-size 22px
                    margin-bottom 0
                    +tablet()
                        font-size 20px
                    +mobile()
                        font-size 14px
                p + h3
                    margin-top 1.2em
    .download
        display block
        background $laranja
        margin-top 30px
        montserrat 22
        color #fff
        text-align center
        padding 60px
        border-radius 12px
        transition background .3s
        &:hover
            background $roxo
        +tablet()
            margin-top 20px
            font-size 20px
            padding 40px 30px
        +mobile()
            margin-top 10px
            font-size 15px
            padding 25px
            border-radius 6px
    .aguarde
        display block
        montserrat 28
        color $roxo
        text-align center
        margin 85px 0 140px
        +tablet()
            font-size 22px
            margin 60px 0 100px
        +mobile()
            font-size 15px
            margin 25px 0 40px

footer
    border-top 2px solid $laranja
    padding 25px 0 40px
    +mobile()
        padding 25px 0
    .center
        display flex
        flex-wrap wrap
        align-items flex-start
        img
            max-width 100%
            height auto
            margin-right 25px
            &:nth-child(3)
                margin-left auto
                +tablet()
                    margin-left 0
                    margin-top 30px
                    margin-right 53px
        .texto
            asap 11
            color #000
            max-width 345px
            p
                margin 0
                a:hover
                    text-decoration underline
                + p
                    margin-top 1em
            +tablet()
                max-width 100%
                &:nth-child(2)
                    width calc('100% - 249px')
                &:nth-child(4)
                    margin-top 30px
        +mobile()
            display block
            img
                margin-right 0
                margin-bottom 10px
            .texto + img
                margin-top 30px
